/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 8, 2023, 6:50:07 AM
    Author     : Admin
*/
.booking-container {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
 .booking-container h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #333;
  }
  
  .booking-form {
    width: 400px;
    margin: 0 auto;
    /* background-color: #fff; */
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .booking-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ccc;
  }
  
  .booking-form input[type="text"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
  }
  
  .booking-form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color:#d18731;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
  }
  
  .booking-form input[type="submit"]:hover {
    background-color: #4d82ae;
  }
  

 .booking-form input[type="date"], .booking-form input[type="time"]{
          width: 35%;
          padding: 10px;
          border: none;
          border-radius: 5px;
          margin-bottom: 20px;
      }
