/* Begin Sign Moldal*/
.nav-item.nav-link.js-signin {
    cursor: pointer;
}
.signin-modal,
.signup-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 6;
  justify-content: center;
  align-items: center;
  display: none;
}

.signin-container,
.signup-container {
  width: 400px;
  border-radius: 10px;
  background-color: #fff;
  padding: 0 40px;
  animation: fadeIn ease 0.5s;
  position: relative;
}

.signin-close,
.signup-close {
  padding: 10px;
  font-size: 20px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.signup-container h1 {
  text-align: center ;
  padding-top: 20px;
}
.signin-container h1 {
  text-align: center;
  padding-top: 20px;
}

.signup-container input {
  border: none;
  outline: none;
  height: 40px;
  font-size: 16px;
  width: 100%;
  border-bottom: 2px solid #adadad;
}
.signin-container input {
  border: none;
  outline: none;
  height: 40px;
  font-size: 16px;
  width: 100%;
  border-bottom: 2px solid #adadad;
}

.formLogin-Control span {
  top: 38px;
  left: 0;
  position: absolute;
  width: 0%;
  border-bottom: 3px solid #2691d9;
  transition: 0.35s;
}

.formLogin-Control input:focus ~ span {
  width: 100%;
}

.formLogin-Control:focus ~ span {
  border-bottom: 2px solid rgb(38, 145, 217);
}

.formLogin-Control {
  margin: 40px 0;
  position: relative;
}

input[type="submit"] {
  background-color: #2691d9;
  color: #e9f4fb;
  font-weight: 700;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: #08609a;
}

.signup_link {
  margin: 25px 0;
  text-align: center;
  color: #666666;
}

.signup_link a {
  text-decoration: none;
  color: #2691d9;
}

.signup_link a:hover {
  text-decoration: underline;
}

.open {
  display: flex;
}

.signup-container .btn-submit {
  margin-bottom: 50px;
}

@keyframes fadeIn {
  from {
    transform: translateY(-300px);
    visibility: hidden;
    opacity: 0;
  }

  to {
    transform: translateY(0);
    visibility: unset;
    opacity: 1;
  }
}
